*

!.zshrc
!.gitignore
!.p10k.zsh

!.config

!.config/alacritty
!.config/alacritty/*

!.config/cava
!.config/cava/*

!.config/flashfocus
!.config/flashfocus/*

!.config/i3
!.config/i3/*

!.config/nvim
!.config/nvim/*
!.config/nvim/ftplugin
!.config/nvim/ftplugin/*
!.config/nvim/lua
!.config/nvim/lua/user
!.config/nvim/lua/user/*
!.config/nvim/lua/plugins
!.config/nvim/lua/plugins/*

!.config/picom
!.config/picom/*

!.config/polybar
!.config/polybar/*

!.config/polybar/scripts
!.config/polybar/scripts/*

!.config/rofi
!.config/rofi/*

!.config/fastfetch
!.config/fastfetch/*

!.config/dunst
!.config/dunst/*
